* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
  color: #00acee;
}
.main {
  display: flex;
  justify-content: center;
  gap: 6em;
  align-items: center;
  padding-top: 2em;
}
.main .insta-profile img {
  border-radius: 50%;
  width: 166px;
  height: 166px;
}
.pk-container {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.insta-profile {
  position: relative;
}
.main .insta-profile .insta-circle {
  width: 180px;
  height: 180px;
}
.insta-circle {
  position: absolute;
  top: -7px;
  left: -7px;
  cursor: pointer;
}
.pk1 {
  display: flex;
  align-items: center;
  gap: 2em;
}
.pk1 h5 {
  font-size: 1.8rem;
  font-weight: 300;
  cursor: pointer;
}
.pk1 button {
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-weight: 500;
  cursor: pointer;
}
.pk1 img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.pk1 .blue-btn {
  background-color: rgb(0, 149, 246);
  color: #fff;
}
.pk1 .blue-arrow-btn {
  background-color: rgb(0, 149, 246);
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
}
.fa-ellipsis {
  font-size: 1.2rem;
  margin-left: 0.5em;
}
.pk1a {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.pk2 {
  display: flex;
  gap: 1.5em;
}
.pk2 h5 {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.pk2 h5 span {
  font-weight: 400;
}
.pk2 button {
  background-color: red;
}
.pk3 h5 {
  font-weight: 600;
  margin: 0;
}
p {
  letter-spacing: 0.9px;
  line-height: 1.7;
  font-size: 1rem;
}
.pk3 a {
  text-decoration: none;
  color: rgb(0, 55, 107);
  font-weight: 600;
}
.pk4 h5 {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(142, 142, 142);
  cursor: pointer;
}
.pk4 h5 span {
  color: black;
}
/* sliders */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.3em 0;
}
.horizontal-scroll {
  width: 73%;
  height: 130px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.horizontal-scroll .btn-scroll {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 3px 8px;
  border: 0;
  border-radius: 50%;
  margin: 0 5px;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 0 10px #999;
  transition: 1s;
}
.storys-container {
  display: flex;
  /* gap: 2em; */
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  transition: 0.5s all ease-out;
}
.story-circle {
  /* background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0)); */
  width: 120px;
  height: 120px;
  margin: 0.7em 1.1em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.story-circle img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 2px solid #fff;
  outline: 2px solid #ccc;
}
/* posts */
.posts {
  border-top: 1px solid #ccc;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 1em 0;
}
.post {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.post h4 {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 500;
}
.reels,
.tagged {
  opacity: 0.5;
}
.post-img {
  width: 80%;
  display: grid;
  gap: 2em;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 290px;
}
.post-img img {
  border: 1px solid #ccc;
  width: 270px;
  height: 300px;
}
